<div class="series-navigation">
  <h3>系列文章</h3>
  <ul>
    <li{% if page.title contains '认证地狱' or page.title contains '(1）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard/">第1篇：认证地狱</a>
      <span class="desc">10周计划，24周还没完成</span>
    </li>
    <li{% if page.title contains '数据混乱' or page.title contains '(2）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard-2/">第2篇：数据混乱</a>
      <span class="desc">同一家酒店，5种不同的数据格式</span>
    </li>
    <li{% if page.title contains '限流噩梦' or page.title contains '(3）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard-3/">第3篇：限流噩梦</a>
      <span class="desc">上线第1天被拉黑3次</span>
    </li>
    <li{% if page.title contains '错误处理' or page.title contains '(4）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard-4/">第4篇：错误处理</a>
      <span class="desc">同一个错误，5种不同的HTTP状态码</span>
    </li>
    <li{% if page.title contains '时区问题' or page.title contains '(5）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard-5/">第5篇：时区问题</a>
      <span class="desc">用户选了明天入住，供应商以为是昨天</span>
    </li>
    <li{% if page.title contains '房间映射' or page.title contains '(6）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard-6/">第6篇：房间映射</a>
      <span class="desc">同一个房间，5种不同的名字</span>
    </li>
    <li{% if page.title contains '总结' or page.title contains '(终）' %} class="active"{% endif %}>
      <a href="/developer-experience/api-integration/why-hotel-api-integration-is-so-hard-7/">第7篇：总结</a>
      <span class="desc">我们为什么能解决这些问题？</span>
    </li>
  </ul>
</div>
